doctype html
html
  head
    style.
      #map {
      height: 100%;
      }
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      }
      script(src='/scripts/jquery.js')
#map
script.
  function initMap() {
    var directionsService = new google.maps.DirectionsService();
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var map  = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: {lat: 42.8864, lng: -78.8784}
    });
    
    var waypts = #{waypoints};
    var lat;
    var lng;
    for (var i = 0; i < waypts.length; i++) {
      lat = data[i][0];
      lng = data[i][0];
      url = 'https://data.buffalony.gov/resource/v5df-q4ru.json?$where=within_circle(geocoded_column,%20' + lat + ',%20' + lng + ',%20100)&$$app_token=13cO7uQiDFF9lUsuhHK7Lv5C0'
      $.getJSON(url, function(data, textstatus) {
        console.log(data);
        $.each(data, function(i, entry) {
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(entry.location_1.latitude, 
                                             entry.location_1.longitude),
            map: map,
            title: location.name
          });
        });
      });
    }

    directionsDisplay.setMap(map);
    calculateAndDisplayRoute(directionsService, directionsDisplay);
    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
      directionsService.route({
        origin: '#{start}',
        destination: '#{end}',
        travelMode: 'DRIVING'
      }, function(response, status) {
        if (status === 'OK') {
          directionsDisplay.setDirections(response);
        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });
    }
  }
script(async='' defer='' src=mapurl)

