doctype html
html
  head
    style
      include css/myWaypoints.css
  body
  form(method='post' action='/prod/getmap').form-container
    .form-title
      h2 Explore Buffalo!
    .form-title Start
    input.form-field(type='text' name='start')
    br
    .form-title Destination
    input.form-field(type='text' name='destination')
    br
    .submit-container
      input.submit-button(type='submit' value='Submit')
